<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.1/socket.io.min.js"></script>
    <title>Chat App</title>
</head>
<body style="text-align: center; font-family: Arial, Helvetica, sans-serif; font-size: 14pt;">

    <div id="messages" style="margin: 0 auto; width: 60%; text-align: left; min-height: 300px;"></div>

    <input type="text" id="username" placeholder="Username">
    <input type="text" id="message" placeholder="Message">
    <button id="sendBtn">Send</button>

    <script>
        $(document).ready(function() {
            // Create a socket and connect to localhost
            var socket = io.connect("http://localhost:5000")
            socket.on('connect', function() {
                socket.send("User connected!");
            });

            socket.on('message', function(data) {
                $('#messages').append($('<p>').text(data));
            });

            $('#sendBtn').on('click', function() {
                socket.send($('#username').val() + ': ' + $('#message').val());
                $('#message').val('');
            });

        })

        // Get the input field
        var input = document.getElementById("message");

        // Execute a function when the user presses a key on the keyboard
        input.addEventListener("keypress", function(event) {
        // If the user presses the "Enter" key on the keyboard
            if (event.key === "Enter") {
                // Cancel the default action, if needed
                event.preventDefault();
                // Trigger the button element with a click
                document.getElementById("sendBtn").click();
            }
        });
    </script>

</body>
</html>